@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: 'Inter', system-ui;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#landing {
    background-color: #FAF9F6;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

.nav__link {
    font-size: 14px;
    font-weight: bold;
    display: flex;
}

h1 {
    font-size: 36px;
    color: #1a202c;
    font-weight: 700;
}

button:hover {
    transition: all 0.2s ease;
    background-color: #2c0083; 
}

.nav__link:hover {
    transition: all 300ms ease-in-out;
    text-decoration: underline #6415ff ; 
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    color: #6415ff;
}

a {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}



/*

NAVIGATION

*/

nav {
   display: flex;
   align-items: center; 
   height: 80px;
   width: 100%
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    align-items: center;
}

.p__nav {
color: #243e63;
font-size: 24px;
font-weight: 900;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    list-style-type: none;
}

.logo {
    width: 40px;
    margin-right: 16px;
}

.logo__header {
    display: flex;
    align-items: center;
}

.btn__login {
    background-color: #6415ff;
    padding: 12px 28px;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 24px;
}

.login__sign {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

/* 

HEADER DESCRIPTION

*/

.header__container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 96px 0;
}

.header__description {
    text-align: left;
    width: 42%;
    display: flex;
    flex-direction: column;

}

.header__img--left {
    width: 100%;
    margin-top: 20px;
    opacity: 0.5;
}

.header__img--right {
width: 60%;
}

.p__header {
    margin: 32px 0;
    line-height: 1.5;
}

.p__customer {
    opacity: 0.5;
}

.header__purple {
    color: #6415ff
}

.input--wrapper {
    position: relative; 
    display: inline-block;
    width: 100%;
}

input {
    padding-right: 40px;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-right: 12rem;
    width: 100%;
    border-radius: 100px;
    opacity: 0.5;
    font-size: 100%;
    font-weight: 500;
    border-width: 2px;
    text-align: center;
}

.input__btn {
    background-color: #6415ff;
    padding: 18px 32px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 100px;
    top: 5px;
    right: 4px;
    position: absolute; 
    margin: 0 auto;
    vertical-align: middle;
    border: none;  
}

.customers--wrapper {
    margin-top: 80px;
}

/* 

FEATURES

*/

.header__features--purple {
    color: #6415ff;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.1rem;
}

.h2__feature {
    font-size: 48px;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #243e63;
}

.p__features {
    line-height: 2;
    font-weight: 500;
    text-align: left;
    padding-left: 16px;
    color: #718096;
}

.features__container {
    padding: 80px 0;
    text-align: center;
    margin: 0 auto;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100%/3);
    padding-top: 48px;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
}

.service__description {
    display: flex;
    flex-direction: column;
}

.features__img--wrapper {
    
    flex-shrink: 0;
    border-radius: 9999px;
    border: 1px solid rgba(128, 128, 128, 0.445);
    padding: 1.25rem;
    text-align: center;
}

.h2__p {
    padding: 0 200px;
    font-weight: 500;
    color: #718096;
}

.span__features {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    padding: 16px 16px;
    color: #243e63;
}

/* 

QUALITY WORK

*/

.container__quality-all {
    display: flex;
    width: 100%;
    margin-bottom: 80px;
}

.container__quality {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 10px;
}

.btn__learn {
    background-color: #6415ff;
    width: 30%;
    padding: 18px 32px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 100px;
}

.container__quality--img {
    width: 55%;
    display: flex;
    align-items: center;
}

.p__features-quality {
    line-height: 2;
    font-weight: 500;
    text-align: left;
    color: #718096;
    padding-bottom: 32px;
    padding-right: 10px;
}

.header__features--quality {
    color: #6415ff;
    font-weight: 700;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.1rem;
}

.quality__img {
    border: 1px solid rgb(226, 232, 240);
}

/*

STEPS

*/

.container__steps--all {
    display: flex;
    width: 100%;
}

.h2__steps {
    font-size: 48px;
    font-weight: 900;
    margin-top: 30px;
    color: #243e63;
}

.container__steps--img {
    width: 50%;
    display: flex;
    align-items: center;
}

.container__steps {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 48px;
}

.header__list--purple {
    color: #6415ff;
    font-weight: 700;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.1rem; 
}



.step__list {
    list-style-type: none;
    display: flex;
    margin-top: 32px;
}

.steps__lists {
    display: flex;
    flex-direction: column;
}

.list__description {
    margin-left: 24px;

}

.list__number {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(203 213 224);
}

.steps__title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
}

.p__steps {
    margin-top: 12px;
    font-size: 14px;
    line-height: 2;
    color: #718096;
    font-weight: 500;
}

/* 

VALUES

*/

.values__container--main {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0 auto;
}

.values__container--text {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.values__img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h3__values {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    margin-left: 12px;
    color: #243e63;  
}

.values__container {
    display: flex;
}

.value__container {
    width: 50%;
}

.p__values {
    text-align: left;
    line-height: 1.625rem;
    font-weight: 500;
    margin-top: 16px;
    color: #718096;

}

.img__h3 {
    display: flex;
}

.btn__learn--values {
    background-color: #6415ff;
    width: 30%;
    padding: 18px 32px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 100px;
    margin-top: 48px;  
}

.suitcase__img {
    --tw-bg-opacity: 1;
    background-color: rgb(254 178 178 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(155 44 44 / var(--tw-text-opacity));
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dollar__sign--img {
    --tw-bg-opacity: 1;
    background-color: rgb(154 230 180 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(39 103 73 / var(--tw-text-opacity));
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*

PLANS

*/

.plans__container {
    display: flex;
    flex-wrap: wrap;
}

.plan {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(226, 232, 240) ;
}

.pricing__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p__pricing {
    line-height: 2;
    max-width: 36rem;
    text-align: center;
    font-weight: 500;
    color: #718096;
    padding-bottom: 32px;
    padding-right: 10px;  
}

.h3__pricing {
    font-size: 48px;
    font-weight: 900;
    margin-top: 15px;
    color: #243e63; 
}

